doctype 5
meta(charset="utf-8")
title The Veg Box
meta(name="description" content="arko")
meta(name="author" content="Matthew Pilcher")
meta(name="viewport" content="width=device-width, initial-scale=1")
	
//- Fonts
link(href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Amatica+SC" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet")

//- CSS
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")

link(rel="stylesheet" type="text/css" href="css/bootstrap.css")
link(rel="stylesheet" type="text/css" href="css/main.css")