.fixed-top(style="background-color: #ffffff;")
	.container
		nav.navbar.navbar-toggleable-md.navbar-light
			button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
				span.navbar-toggler-icon

			a.navbar-brand(href="#")
				img(src="./assets/logo.svg")
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.ml-auto
					li.nav-item.active
						a.nav-link(href="#") ABOUT
					li.nav-item
						a.nav-link(href="#") OUR BOXES
					li.nav-item
						a.nav-link(href="#") FAQS
					li.nav-item
						a.nav-link(href="#") CONTACT US