html
	head
		include /_includes/_header
	body
		include /_includes/_navigation

		.hero-banner.text-center
			img.section-mask(src="./assets/section-mask.svg")

			.hero-banner--inner
				.box--dashed.p-6.mb-4
					h1 TOP QUALITY FRUIT AND VEGETABLES
					h3 DELIVERED STRAIGHT TO YOUR DOOR
				button.btn CHOOSE A BOX

		section.section
			.container
				.row.text-center
					.col-md-12
						h1.mb-6 HOW IT WORKS

				.row.align-items-end
					.col-md-4.hiw-steps
						.text-center
							img.mw-100.mb-2(src="./assets/hiw-box.svg")

						.media
							.d-flex.align-self-center.mr-3
								h1 1
							.media-body.align-self-center.text-justify
								h3 CHOOSE WHICH BOX YOU'D LIKE TO ORDER


					.col-md-4.hiw-steps
						.text-center
							img.mw-100.mb-2(src="./assets/hiw-truck.svg")
						
						.media
							.d-flex.align-self-center.mr-3
								h1 2
							.media-body.align-self-center.text-justify
								h3 WE DELIVER IT FREE, FIRST CLASS POST


					.col-md-4.hiw-steps
						.text-center
							img.mw-100.mb-2(src="./assets/hiw-house.svg")

						.media
							.d-flex.align-self-center.mr-3
								h1 3
							.media-body.align-self-center.text-justify
								h3 YOU RECIEVE YOUR BOX IN 2 DAYS!



		section.section.x-pad.text-center(style="background-image: url('./assets/ordernow.jpg'); background-size: cover;")
			img.section-mask(src="./assets/section-mask.svg")
			img.section-mask.flipped(src="./assets/section-mask.svg")

			.container
				.row
					.col-md-12
						.box--dashed.p-5.mb-4
							h2 ORDER NOW AND RECIEVE 
								span.color--secondary 50% OFF 
								| YOUR FIRST BOX
							h4 JUST START SHOPPING AND WE'LL APPLY YOUR DISCOUNT CODE FOR YOU

						button.btn GET STARTED


		section.section.text-center.our-boxes
			.container
				.row
					.col-md-12
						h1 OUR BOXES
						h4.mb-6 WE HAVE THREE BOXES TO CHOOSE FROM, FRUIT BOX, VEG BOX AND A MIX OF BOTH. ALL ARE GREAT CHOICES!

				.row
					.col-md-4
						.mb-6.p-2
							h3 FRUIT BOX
							img.mw-100(src="./assets/box1.jpg")
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
							button.btn VIEW BOX
					.col-md-4
						.mb-6.p-2
							h3 VEG BOX
							img.mw-100(src="./assets/box2.jpg")
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
							button.btn VIEW BOX

					.col-md-4
						.mb-6.p-2
							h3 FRUIT &amp; VEG BOX
							img.mw-100(src="./assets/box3.jpg")
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
							button.btn VIEW BOX

				.row.our-boxes--delivery
					.col-md-12
						img.our-boxes--truck(src="./assets/hiw-truck.svg")
						h4 We OFFER FREE NEXT DAY DELIVERY ON ALL OF OUR BOXES!


		section.section.x-pad.mib(style="background-image: url('./assets/mib-bg.jpg'); background-size: cover; background-position: center;")
			img.section-mask.flipped(src="./assets/section-mask.svg")
			img.section-mask(src="./assets/section-mask.svg")

			.container
				.row
					.col-md-6
						.box--dashed.p-5.mb-4
							h2 MADE IN BRITAIN
							h4 WE ONLY SUPPLY THE 
								span.color--secondary BEST HOMEGROWN PRODUCE
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.

							p Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.

							p Nullam dictum felis eu pede mollis pretium. Integer

						button.btn.btn--secondary MORE INFO


		section.section.text-center
			.container
				.row
					.col-md-12
						h1.mb-6 WHAT OUR CUSTOMERS SAY

				.row.mb-7
					.col-md-4.dashed--right
						.testimonial--single
							h1 “

							h3.testimonial--quote Best. Product. Ever! The Box is both attractive and highly adaptable.
							p - John L
					.col-md-4.dashed--right
						.testimonial--single
							h1 “
							h3.testimonial--quote Thank you for making it pleasant and most of all hassle free!
							p - Jessica G

					.col-md-4
						.testimonial--single
							h1 “
							h3.testimonial--quote Your company is truly upstanding and is behind its product 100%.
							p - Sally R

				.row.footer--social-links
					.col-md-12
						a.d-inline-block
							img(src="./assets/icon-fb.svg")
						a.d-inline-block
							img(src="./assets/icon-twi.svg")
						a.d-inline-block
							img(src="./assets/icon-yt.svg")
						a.d-inline-block
							img(src="./assets/icon-inst.svg")
						a.d-inline-block
							img(src="./assets/icon-goog.svg")

				.row.footer--links
					.col-md-12
						a.d-inline-block HOME
						a.d-inline-block ABOUT
						a.d-inline-block FAQ
						a.d-inline-block OUT SUPPLIERS
						a.d-inline-block PRIVACY POLICY
						a.d-inline-block CONTACT

				.row
					.col-md-12
						p Copywrite 2017, All rights reserved.


		include /_includes/_footer