html
	head
		include /_includes/_header
	body
		include /_includes/_navigation

		.hero-banner.text-center
			.hero-banner--inner
				.box--dashed
					h1 TOP QUALITY FRUIT AND VEGETABLES
					p DELIVERED STRAIGHT TO YOUR DOOR
					button CHOOSE A BOX

		section.text-center
			.container
				.row
					.col-md-12
						h1 HOW IT WORKS

				.row
					.col-md-4
						img.mw-100(src="./assets/hiw-box.svg")
						p CHOOSE YOUR FLAVOUR AND DELIVERY OPTION
					.col-md-4
						img.mw-100(src="./assets/hiw-truck.svg")
						p WE DELIVER IT TO YOUR DOOR, FIRST CLASS POST
					.col-md-4
						img.mw-100(src="./assets/hiw-house.svg")
						p YOU ENJOY TRULY GREAT BACON. AWESOME COOL!



		section(style="background-image: url('./assets/ordernow.jpg'); background-size: cover;")
			.container
				.row
					.col-md-12
						div
							h1 ORDER NOW AND RECIEVE 
								span 50% OFF
								| YOUR FIRST BOX
							P JUST START SHOPPING AND WE'LL APPLY YOUR DISCOUNT CODE FOR YOU

						button GET STARTED


		section.text-center
			.container
				.row
					.col-md-12
						h1 OUR BOXES
						p WE HAVE THREE BOXES TO CHOOSE FROM, FRUIT BOX, VEG BOX AND A MIX OF BOTH. ALL ARE GREAT CHOICES!

				.row
					.col-md-4
						div
							p FRUIT BOX
							img.mw-100(src="./assets/box1.jpg")
							p Our classic box is packed with beautifully fresh produce and exciting new recipes - so you'll eat like a king!
							button VIEW BOX
					.col-md-4
						div
							p VEG BOX
							img.mw-100(src="./assets/box2.jpg")
							p Our classic box is packed with beautifully fresh produce and exciting new recipes - so you'll eat like a king!
							button VIEW BOX

					.col-md-4
						div
							p FRUIT &amp; VEG BOX
							img.mw-100(src="./assets/box3.jpg")
							p Our classic box is packed with beautifully fresh produce and exciting new recipes - so you'll eat like a king!
							button VIEW BOX

				.row
					.col-md-12
						img.mw-100(src="./assets/hiw-truck.svg")
						p We OFFER FREE NEXT DAY DELIVERY ON ALL OF OUR BOXES!


		section(style="background-image: url('./assets/mib-bg.jpg'); background-size: cover;")
			.container
				.row
					.col-md-6
						div
							h1 MADE IN BRITAIN
							p WE ONLY SUPPLY THE 
								span BEST HOMEGROWN PRODUCE
							p Lorem ipsum dolor sit amet, vel assum scripta luptatum an, mei an nisl nusquam partiendo. Et his ipsum maluisset, at autem platonem vis, decore nostrum in has.

							p Id ancillae eleifend splendide vix, pri eu alia accusata neglegentur. In putant lobortis euripidis eos, eos at simul iuvaret.

							button MORE INFO


		section.text-center
			.container
				.row
					.col-md-12
						h1 WHAT OUR CUSTOMERS SAY

				.row
					.col-md-4
						h1 "
						p WONDERFUL FOOD, VERY FRESH AND SUBERB QUALITY, WOULD BUY AGAIN!
						p John Lennon
					.col-md-4
						h1 "
						p HANDS DOWN, THE BEST STEAK I HAVE EVER HAD! WOULD BUY AGAIN!
						p Bob Green

					.col-md-4
						h1 "
						p BEST SMOKED GAMMON I HAVE EVER COOKED WITH, ITS MY FAVORITE!
						p Sally Robinson

				.row
					.col-md-12
						img(src="./assets/icon-fb.svg")
						img(src="./assets/icon-twi.svg")
						img(src="./assets/icon-yt.svg")
						img(src="./assets/icon-inst.svg")
						img(src="./assets/icon-goog.svg")

				.row
					.col-md-12
						p.d-inline-block HOME
						p.d-inline-block ABOUT
						p.d-inline-block FAQ
						p.d-inline-block OUT SUPPLIERS
						p.d-inline-block PRIVACY POLICY
						p.d-inline-block CONTACT

				.row
					.col-md-12
						p Copywrite 2017, All rights reserved.


		include /_includes/_footer