@import "bootstrap";

h1,h2 {
	font-family: 'Fredericka the Great', cursive;
}

h3,h4,h5,h6 {
	font-family: 'Amatica SC', cursive;
}

p,a {
	font-family: 'Amatica SC', cursive;
}

.btn {
	background-color: #87B877;
	border: none;
	outline: none;
	font-family: 'Amatica SC', cursive;
	font-size: 28px;
	color: #ffffff;
	line-height: normal;
	padding: 8px 42px 12px;

}

.section {
	position: relative;
	@extend .py-8;

	&.x-pad {
		@extend .py-9;
	}
}

.section-mask {
	position: absolute;
	bottom:0;
	width: 100%;
	right: 0;
	left: 0;
	margin-bottom: -2px;

	&.flipped {
		transform: scaleY(-1);
		margin-bottom: auto;
		margin-top: -2px;
		top:0;
		bottom: auto;
	}
}

.hero-banner {
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: url("../assets/banner-change.jpg");
	background-size: cover;
	background-position: center;

	&--inner {
		position: absolute;
	    width: 690px;
	    max-width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin-top: 47px; //- for navigation
	}
}

.navbar-toggler {
	top: 28px;
}

.box--dashed {
	@extend .p-4;
	background-color: rgba(255,255,255,0.9);
    outline: 2px dashed #BBBBBB;
    outline-offset: -8px;
}


//- Our Boxes
.our-boxes {

}

.our-boxes--delivery {
	img {
		max-width: 100px;
		@extend .mb-2;
	}
}


//- Testimonial
.dashed--right {
	border-right: 2px dashed #BBBBBB; 
}

.testimonial--single {
	@extend .p-2;

	h1 {
		font-size: 120px;
		margin-bottom: -60px;
	}
}

.testimonial--quote {
	font-weight: bold;
}

//- Footer
.footer--links {
	a {
		cursor: pointer;
		@extend .mb-2;
		@extend .mx-2;
		font-weight: bold;
	}
}

.footer--social-links {
	a {
		cursor: pointer;
		@extend .mb-4;
		margin-left: 12px;
		margin-right: 12px;
		font-weight: bold;
	}
}