@import "bootstrap";

h1,h2 {
	font-family: 'Fredericka the Great', cursive;
}

h3,h4,h5,h6 {
	font-family: 'Amatica SC', cursive;
}

p,a {
	font-family: 'Amatica SC', cursive;
}

.btn {
	background-color: #87B877;
	border: none;
	outline: none;
	font-family: 'Amatica SC', cursive;
	font-size: 24px;
	color: #ffffff;
	line-height: normal;
	padding: 8px 42px 12px;

	&.btn--large {
		font-size: 28px;
		padding: 8px 42px 12px;
	}

	&.btn--secondary {
		background-color: #FF9300;
	}

}

.section {
	position: relative;
	@extend .py-8;

	&.x-pad {
		@extend .py-9;
	}
}

.section-mask {
	position: absolute;
	bottom:0;
	width: 100%;
	right: 0;
	left: 0;
	margin-bottom: -2px;

	&.flipped {
		transform: scaleY(-1);
		margin-bottom: auto;
		margin-top: -2px;
		top:0;
		bottom: auto;
	}
}

//- Navigation
.navbar-nav {
	.nav-item {
		a.nav-link {
			font-weight: bold;
			font-size: 1.5rem;
			padding: 1.5rem;
		    -webkit-transition: color 0.5s;
		    transition: color 0.5s;

			@media (max-width: 992px) {
				text-align: center;	
			}
		}
	}
}

.navbar-toggler {
	border: none;
	cursor: pointer;
	outline: none !important;
}

.navbar--container {
	position: relative;
	z-index:1;
	background-color: #ffffff;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hero-banner {
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: url("../assets/banner-change.jpg");
	background-size: cover;
	background-position: center;
	margin-top: -100px;

	&--inner {
		position: absolute;
	    width: 690px;
	    max-width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin-top: 47px; //- for navigation
	}
}

.navbar-toggler {
	top: 28px;
}

.box--dashed {
	background-color: rgba(255,255,255,0.9);
    outline: 2px dashed #BBBBBB;
    outline-offset: -8px;
}

//- How It Works
.hiw-steps {

	h1 {
		color: #FF9300;
		margin-bottom: 0px;
	}

	h3 {
		font-weight: bold;
		margin-bottom: 0px;
	}

	.media {
		@extend .px-4;
	}

	@media (max-width: 768px) {

		img {
			max-width: 140px !important;
			max-height: 100px !important;
		}

		h1 {
			font-size: 84px;
		}
		h3 {
			font-size: 1.75rem;
			line-height: 34px;
		}

		.media {
			max-width: 320px;
			margin: 0px auto 48px;
		}
	}


	@media (min-width: 768px) and (max-width: 991px) {
		img {
			max-width: 120px !important;
			max-height: 90px !important;
		}

		.media {
			padding: 0px !important;
		}
		h1 {
			font-size: 78px;
		}
		h3 {
			font-size: 1.4rem;
			line-height: 30px;
		}
	}

	@media (min-width: 992px) {
		h1 {
			font-size: 84px;
		}
		h3 {
			font-size: 1.5rem;
			line-height: 34px;
		}
	}

	@media (min-width: 1200px) {
		h1 {
			font-size: 94px;
		}
		h3 {
			font-size: 2rem;
			line-height: 38px;
		}
	}
}


//- Our Boxes
.our-boxes {
	h3 {
		@extend .mb-3;
		font-weight: bold;
	}

	img {
		@extend .mb-4;
	}

	p {
		@extend .px-2;
		@extend .mb-4;
		font-size: 0.9rem;
		font-family: 'Raleway', sans-serif;
		font-weight: 300;
		line-height: 20px;
	}
}

.our-boxes--delivery {
	img {
		max-width: 100px;
		@extend .mb-2;
	}
}


//- Testimonial
.dashed--right {
	border-right: 2px dashed #BBBBBB;


	@media (max-width: 768px) {
		border-right: none;
	}
}

.testimonial--single {
	@extend .p-2;

	h1 {
		font-size: 120px;
		margin-bottom: -60px;
	}
}

.testimonial--quote {
	font-weight: bold;
}

//- Footer
.footer--links {
	a {
		cursor: pointer;
		@extend .mb-2;
		@extend .mx-2;
		font-weight: bold;
	}
}

.footer--social-links {
	a {
		cursor: pointer;
		@extend .mb-4;
		margin-left: 12px;
		margin-right: 12px;
		font-weight: bold;
	}
}